<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".core.alert.PowerAlertNotificationReceiver"
            android:exported="false" />

        <activity
            android:name="eu.darken.octi.modules.power.ui.widget.BatteryWidgetConfigActivity"
            android:exported="true"
            android:permission="android.permission.BIND_APPWIDGET"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name="eu.darken.octi.modules.power.ui.widget.BatteryWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_widget_info" />
        </receiver>
    </application>
</manifest>